<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">




	<test name="Parabank">

		<parameter name="osType" value="mac"></parameter>
		<parameter name="browserType" value="chrome"></parameter>
		<parameter name="runLocal" value="true"></parameter>
		<parameter name="useGrid" value="false"></parameter>
		<parameter name="useAWS" value="false"></parameter>
		<parameter name="useSauceLabs" value="false"></parameter>


		<classes>
			<class name="Runners.ParaBank_Runner"></class>
		</classes>
	</test>




</suite>

	
	
	
